config owsd 'global'
	option sock '/var/run/ubus.sock'
	option www '/www'
#	option redirect '/cgi-bin/luci:/cacheflush.html'
#	option www_maxage '3600'

# ubusproxy is enbaled if: enable = 1 or peer exists or path exists
config ubusproxy 'ubusproxy'
	option enable '0'
#	list peer 'wss://repeater_hostname/'
#	list peer 'wss://192.168.1.101/'
#	list object 'router.*'
#	list object 'system'
#	option prefix 'ip' # 'ip' or 'mac'
#	option peer_cert '/etc/ssl/certs/owsd-repeater-control-cert.pem'
#	option peer_key '/etc/ssl/private/owsd-repeater-control-key.pem'
#	option peer_ca '/etc/ssl/certs/owsd-server-ca.pem'

config owsd-listen 'loopback'
	option port '80'
	option interface 'loopback'
	option ipv6 'on'
	option whitelist_interface_as_origin '1'
#	list origin '*'


config owsd-listen 'lan'
	option port '80'
	option interface 'lan'
	option ipv6 'on'
	option ipv6only 'off'
	option whitelist_interface_as_origin '1'
	option whitelist_dhcp_domains '1'

#config owsd-listen 'lan_https'
#	option port '443'
#	option interface 'lan'
#	option cert '/etc/ssl/certs/owsd-https-lan-cert.pem'
#	option key '/etc/ssl/private/owsd-https-lan-key.pem'
#	option ca '/etc/ssl/certs/owsd-ca-for-clients.pem'
#	option whitelist_interface_as_origin '1'

config owsd-listen 'wan'
	option port '80'
	option interface 'wan'
	option ipv6 'on'
	option whitelist_interface_as_origin '1'
#	list origin '*'


#config owsd-listen 'wan_https'
#	option port '443'
#	option interface 'wan'
#	option cert '/etc/ssl/certs/cert.pem'
#	option key '/etc/ssl/private/key.pem'
#	option ca '/etc/ssl/certs/owsd-ca-for-clients.pem'
#	option whitelist_interface_as_origin '1'
#	list origin '*'
